@charset "UTF-8";
/* CSS Document */
body {
	background-image:repeating-linear-gradient(#010066, #CC0001, #FFFFFF, #FFCC00);
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
	color:black;
	line-height: 250%; 
	margin: 0;
	padding: 0;
	width: fixed;
	cursor: url("images/hibiscus-icon.png"), auto;
	text-align: center;
	}
		
.wrapper {
	background: #fff;
	width: 1050px; 
	margin-left: auto;
	margin-right: auto;
	padding: 0 18px 18px;
}

header.site-header {
	margin: 0 0 0;
	padding-top: 10px;
}

.site-logo-image {
	height: 100px;
}

.site-nav a, .page-nav a {
	text-decoration: none;
	padding: 10px;
}
		
.site-nav a:hover, .page-nav a:hover {
	text-decoration: none;
	background-color:aliceblue;
	padding: 10px;
	border-radius: 10px;
}
		
.site-nav {
	background-color: #B4E1FF;
	text-align: center;
	position: sticky;
	top: 20px;
}
		
.site-nav a {
	color:navy;
}
		
.page-nav {
	background-color: #B4E1FF;
	text-align: center;
}
		
.page-nav a {
	color:indigo;
}

.lead {
    position: relative;
}

.secondary-statement {
	position: absolute;
	top: 20%;
	color: aliceblue;
	font-size: 43px;
}



h1 {
	color:cornflowerblue;
	font-size: 50px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: aliceblue;
	text-align: center;
}
		
h2 {
	color:navy;
	font-size: 40px;
}

h3 {
	color:black;
	font-size: 25px;
}
		
p {
	color:black;
	font-size: 20px;
	line-height: 30px;
	padding-left: 36px;
	padding-right: 36px;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.showcase-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.showcase-item {
    background-color: #ffffff;
    flex-basis: calc(33.33% - 20px);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.showcase-item .showcase-p {
	align-content: left;
	color: navy;
}

.profile-container1 {
	display: grid;
	grid-template-columns: auto 2fr;
	gap: 2rem 2rem;
	align-items: top;
}

.profile-container { /* irregular layour can change the arrangements in templet-area*/
	display: grid;
	gap: 1rem 2rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"p1 b1 b1"
			"p2 b2 b2"
			"p3 b3 b3";
}

.port1 {
	grid-area: p1;
}
.bio1 {
	grid-area: b1;
}
.port2 {
	grid-area: p2;
}
.bio2 {
	grid-area: b2;
}
.port3 {
	grid-area: p3;
}
.bio3 {
	grid-area: b3;
}

.profile-container1 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"1port1 1port2 1port3";
	}
.profile-container2 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"2port1 2port2 2port3";
	}
.profile-container3 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"3port1 3port2 3port3";
	}
.profile-container4 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"4port1 4port2 4port3";
	}




