@charset "UTF-8";
/* CSS Document */
body {
	background-image:repeating-linear-gradient(#010066, #CC0001, #FFFFFF, #FFCC00);
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
	color:black;
	line-height: 250%; 
	margin: 0;
	padding: 0;
	width: fixed;
	cursor: url("images/hibiscus-icon.png"), auto;
	text-align: center;
	}

.wrapper {
	background: #fff;
	width: 1050px; 
	margin-left: auto;
	margin-right: auto;
	padding: 10px 18px 18px;
}

header.site-header {
	margin: 0 0 0;
	padding-top: 10px;
	display: block;
}

.site-logo-image {
	height: 90px;
	align-content: center;
}

.site-nav a, .page-nav a {
	text-decoration: none;
	padding: 10px;
}
		
.site-nav a:hover, .page-nav a:hover {
	text-decoration: none;
	background-color:aliceblue;
	padding: 10px;
	border-radius: 10px;
}
		
.site-nav {
	background-color: #B4E1FF;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 20px;
	margin: 0 auto;
	width: 1086px;
}
		
.site-nav a {
	color:navy;
}

.site-nav nav {
	align-content: center;
}
		
.page-nav {
	background-color: #B4E1FF;
	text-align: center;
	font-size: 20px;
	width: 695px;
}
		
.page-nav a {
	color:indigo;
}

.essay-page-nav {
	background-color: #B4E1FF;
	text-align: center;
	align-content: center;
	font-size: 20px;
	width: 1050px;
}

.essay-page-nav a {
	color:indigo;
}

.lead {
    position: relative;
}

.secondary-statement {
	position: absolute;
	top: 15%;
	color: navy;
	font-size: 40px;
	text-align: center;
}

h1 {
	color:cornflowerblue;
	font-size: 40px;
	padding: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 93%;
	background-color: aliceblue;
	text-align: center;
	align-content: center;
}
		
h2 {
	color:navy;
	font-size: 40px;
}

h3 {
	color:black;
	font-size: 25px;
}
		
p {
	color:black;
	font-size: 20px;
	line-height: 30px;
	padding-left: 36px;
	padding-right: 36px;
	text-align: left;
}

p.pcenter {
	color:black;
	font-size: 20px;
	line-height: 30px;
	padding-left: 36px;
	padding-right: 36px;
	text-align: center;
}

.caption {
    margin-top: -10px;
    font-size: 12px;
    color: #344175;
	line-height: 15px;
	text-align: center;
}

p.rcaption {
    margin-top: -10px;
    font-size: 12px;
    color: #344175;
	line-height: 15px;
	text-align: left;
}

a {
	color:violet;
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

a:hover {
	text-decoration: none;
	color: darkslateblue;
	background-color:aliceblue;
	padding: 10px;
	border-radius: 10px;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.showcase {
	background: hsla(226,56%,83%,1.00);
	padding-top: 5px;
	padding-bottom: 30px;
	border-radius: 1rem;
}

.showcase-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.showcase-item {
    background-color: #ffffff;
    flex-basis: calc(33.33% - 20px);
    padding: 0;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.showcase-p {
	color:black;
	font-size: 17px;
	text-align: center;
	line-height: 26px;
}

.profile-container { /* irregular layour can change the arrangements in templet-area*/
	display: grid;
	gap: 1rem 2rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"p1 b1 b1"
			"p2 b2 b2"
			"p3 b3 b3"
			"p4 b4 b4";
}

.port1 {
	grid-area: p1;
}
.bio1 {
	grid-area: b1;
}
.port2 {
	grid-area: p2;
}
.bio2 {
	grid-area: b2;
}
.port3 {
	grid-area: p3;
}
.bio3 {
	grid-area: b3;
}
.port4 {
	grid-area: p4;
}
.bio4 {
	grid-area: b4;
}

.profile-container1 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"1port1 1port2 1port3"
			"1port4 1port5 1port6";
	}
.profile-container2 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"2port1 2port2 2port3";
	}
.profile-container3 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"3port1 3port2 3port3";
	}

.wrapper-grid {
	display: grid;
  	gap: 1rem 2rem;
	text-align: left;
	padding-right: 0px;
  	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: auto auto auto;
	grid-template-areas:
            "main main aside";
}

.wrapper-grid .micro-reviews {
	grid-area: aside;
	font-size: 18px;
	line-height: 1.5;
	padding-top: 13rem; /* matches page-header padding-top; */
	padding-right: 2.5rem; /* = 40px */
}

.wrapper-grid main {
	grid-area: main;
	padding-left: 1rem;
}

main h1 {
	margin: 0 0 1rem;
}

.micro-reviews h2 {
	font-size: 1.5rem;
	color: cornflowerblue;
	margin: 0;
	text-align: left;
	align-content: left;
}

.micro-reviews h3 {
	font-size: 13px;
	text-align: left;
	align-content: left;
	line-height: 35px;
}

.micro-reviews p {
	font-size: 15px;
	text-align: left;
	align-content: left;
	line-height: 20px;
}

.category {
	border: solid navy 2px;
	border-radius: 1rem;
	padding: 7px;
	margin: 10px;
}

.image {
	text-align: center;
}

.image1 {
	text-align: center; 
	float:left;
	padding: 20px 25px 0px 0px;
}

.shrine-img {
	text-align: center; 
	float:right;
	padding: 0px 25px 0px 0px;
}

.vege-img {
	text-align: center; 
	float:left;
	padding: 0px 25px 20px 0px;
}

.temple-img {
	text-align: center; 
	float:left;
	padding: 0px 25px 15px 0px;
}

.mahjong-img {
	text-align: center; 
	float:right;
	padding: 0px 25px 15px 10px;
}

.mahjong2-img {
	text-align: center; 
	float:right;
	padding: 10px 35px 15px 0px;
}

.plant-img {
	text-align: center; 
	float:left;
	padding: 0px 20px 15px 60px;
}

.cookie-img {
	text-align: center; 
	float:left;
	padding: 0px 20px 10px 18px;
}

.essay-container1 {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			"p1 img1";
}

.essay-container2 {
	display: grid;
	gap: 1rem 1rem 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"eport1 eport2";
	padding: 20px 140px;
}

.ep {
	color:black;
	font-size: 20px;
	line-height: 30px;
	padding-left: 36px;
	padding-right: 36px;
	text-align: left;
	margin: 0;
}

.worldmap {
	width: 1050px;
	height: 900px;
	border: solid #5a5a5a 1px;
	background: url(images/penang.svg) no-repeat;
	background-size: 120%;
	background-position: left;
	padding: 0;
	margin: 0; /* adjust as needed */
	position: relative; /* needed for positioning the icons */
}

.map-caption {
    margin-top: 5px;
    font-size: 12px;
    color: #344175;
	line-height: 15px;
	text-align: left;
}

.map-item {
	position: absolute;
}

#armenian {
	top: 228px;
	left: 520px;
}

#durian {
	top: 580px;
	left: 100px;
}

#ferringhi {
	top: 25px;
	left: 235px;
}

#beach {
	top: 210px;
	left: 540px;
}

#batik {
	top: 90px;
	left: 130px;
}

#hinbus {
	top: 248px;
	left: 510px;
}

#temple {
	top: 278px;
	left: 310px;
}

#food {
	top: 390px;
	left: 900px;
}










